body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}

li {
  list-style: none;
}

footer {
  background-color: #000000;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 2%;
  display: flex;
  justify-content: center;
}
header .nav-wrapper {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .nav-wrapper .nav-wrapper__item {
  height: 100%;
}
header .nav-wrapper .nav-wrapper__item img {
  height: 100%;
}
@media screen and (max-width:767px) {
  header .nav-wrapper .nav-wrapper__item img {
    width: 170px;
    height: auto;
  }
}
header .nav-wrapper .nav-wrapper__list {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav-wrapper .list__item {
  color: #333333;
  margin: 0 30px;
}
@media screen and (max-width:767px) {
  header .nav-wrapper .list__item {
    display: none;
  }
}
header .nav-wrapper .list__item:first-child {
  margin-left: 0;
}
header .nav-wrapper .list__item:last-child {
  margin-right: 0;
}
header .nav-wrapper .list__item .list__item--btn {
  border-radius: 50px;
  background-color: #00ABAE;
  padding: 10px 30px;
}
header .nav-wrapper .list__item .list__item--btn a {
  color: #ffffff;
}

.main-visual {
  width: 100%;
  height: 400px;
  position: relative;
}
.main-visual img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.main-visual p {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 2;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width:767px) {
  .main-visual p {
    font-size: 22px;
  }
}
@media screen and (max-width:767px) {
  .main-visual p {
    left: 15px;
    line-height: 4;
  }
}

.about-wrapper {
  width: 100%;
  height: auto;
  margin: 0px auto;
  max-width: 1100px;
  padding: 50px 5%;
}
.about-wrapper .about-title {
  text-align: center;
  margin: 0 auto 50px;
  color: #00ABAE;
  position: relative;
}
.about-wrapper .about-title:after {
  content: "";
  margin: 0 auto;
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ABAE;
}
.about-wrapper .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:767px) {
  .about-wrapper .about-container {
    flex-wrap: wrap;
  }
}
.about-wrapper .about-container .about-container__caption {
  width: 50%;
  margin-right: 30px;
}
@media screen and (max-width:767px) {
  .about-wrapper .about-container .about-container__caption {
    width: 100%;
    margin-left: 0px;
  }
}
.about-wrapper .about-container .about-container__caption img {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.about-wrapper .about-container .about-container__item {
  width: 50%;
  margin-left: 30px;
}
@media screen and (max-width:767px) {
  .about-wrapper .about-container .about-container__item {
    width: 100%;
    margin-left: 0px;
  }
}
.about-wrapper .about-container .about-container__item .item__title {
  margin-bottom: 30px;
}
.about-wrapper .about-container .about-container__item .item__title--large {
  font-size: 25px;
}

.service-wrapper {
  background-color: #EEF8FA;
  width: 100%;
  height: auto;
  padding: 50px 5%;
}
.service-wrapper .service-title {
  text-align: center;
  margin: 0 auto 50px;
  color: #00ABAE;
  position: relative;
}
.service-wrapper .service-title:after {
  content: "";
  margin: 0 auto;
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ABAE;
}
.service-wrapper .service-wrapper__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
}
@media screen and (max-width:767px) {
  .service-wrapper .service-wrapper__list {
    flex-wrap: wrap;
  }
}
.service-wrapper .service-wrapper__list .list__item {
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
}
@media screen and (max-width:767px) {
  .service-wrapper .service-wrapper__list .list__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.service-wrapper .service-wrapper__list .list__item .container__caption {
  width: 100%;
  height: auto;
}
.service-wrapper .service-wrapper__list .list__item .container__caption img {
  width: 100%;
  height: auto;
}
.service-wrapper .service-wrapper__list .list__item .container__body {
  width: 100%;
  height: auto;
  padding: 20px 20px;
  text-align: center;
}
.service-wrapper .service-wrapper__list .list__item .container__body .body__title {
  margin-bottom: 20px;
}

.news-wrapper {
  width: 100%;
  height: auto;
  margin: 0px auto;
  max-width: 1100px;
  padding: 50px 5%;
}
.news-wrapper .news-title {
  text-align: center;
  margin: 0 auto 50px;
  color: #00ABAE;
  position: relative;
}
.news-wrapper .news-title:after {
  content: "";
  margin: 0 auto;
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ABAE;
}
.news-wrapper .news-container {
  width: 100%;
  height: auto;
}
.news-wrapper .news-container .group__list {
  padding: 20px 55px;
  border-bottom: 1px solid #ddd;
}
.news-wrapper .news-container .group__list a {
  display: flex;
  justify-content: flex-start;
}
.news-wrapper .news-container .group__list a .list__date {
  padding: 5px;
  margin: 0 20px;
  border-radius: 50px;
  font-size: 10px;
}
.news-wrapper .news-container .group__list a .list__date--gray {
  background-color: #EEEEEE;
}
.news-wrapper .news-container .group__list a .list__date--white {
  color: #888888;
}
.news-wrapper .news-container .action__btn {
  margin: 50px auto 0px;
  padding: 15px;
}
.news-wrapper .news-container .action__btn--circle {
  border-radius: 50px;
  border: solid 0.5px;
  display: block;
  text-align: center;
  width: 300px;
}

.contact-wrapper {
  background-color: #EEF8FA;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 50px 5%;
}
.contact-wrapper .contact-title {
  text-align: center;
  margin: 0 auto 50px;
  color: #00ABAE;
  position: relative;
}
.contact-wrapper .contact-title:after {
  content: "";
  margin: 0 auto;
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ABAE;
}
.contact-wrapper .contact-container {
  max-width: 1100px;
  margin: 0 auto;
}
.contact-wrapper .contact-container .contact__catch {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
.contact-wrapper .action__btn {
  padding: 15px;
  width: 300px;
  display: block;
  margin: 50px auto;
  color: #ffffff;
  text-align: center;
}
.contact-wrapper .action__btn--circle {
  border-radius: 50px;
}
.contact-wrapper .action__btn--green {
  background-color: #00ABAE;
}

footer {
  margin: 0 auto;
}
footer .container {
  text-align: center;
  padding: 50px 0px;
}
footer .container .container__cp {
  display: inline-block;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */