$colors: (
    textGreen:#00ABAE,
    textBlack: #333333,
    textWhite: #ffffff,
    textGray: #888888,
    backgroundGreen: #EEF8FA,
    backgroundWhite: #ffffff,
    backgroundGray: #EEEEEE,
    backgroundBlack: #000000,
    btnGreen:#00ABAE
);

